In [1]:
# ANOVA test

In [2]:
# https://www.statsmodels.org/stable/anova.html

In [3]:
import statsmodels.api as sm

In [4]:
from statsmodels.formula.api import ols

In [5]:
moore = sm.datasets.get_rdataset("Moore", "carData", cache=True)

/home/andrew/anaconda3/lib/python3.7/site-packages/statsmodels/datasets/utils.py:192: FutureWarning: `item` has been deprecated and will be removed in a future version
  return dataset_meta["Title"].item()

In [6]:
data = moore.data

In [7]:
data = data.rename(columns={"partner.status": "partner_status"})

In [8]:
data

   partner_status  conformity fcategory  fscore
0             low           8       low      37
1             low           4      high      57
2             low           8      high      65
3             low           7       low      20
4             low          10       low      36
5             low           6       low      18
6             low          12    medium      51
7             low           4    medium      44
8             low          13       low      31
9             low          12       low      36
10            low           4    medium      42
11            low          13      high      56
12            low           7       low      28
13            low           9    medium      43
14            low           9      high      65
15            low          24      high      57
16            low           6       low      28
17            low           7      high      61
18            low          23      high      57
19            low          13      high      55
20            low           8       low      17
21            low          12       low      35
22           high          19      high      68
23           high          12    medium      41
24           high          21       low      16
25           high           9      high      63
26           high          23       low      15
27           high           7      high      54
28           high          17    medium      48
29           high          14    medium      42
30           high          11      high      59
31           high          16    medium      45
32           high          15       low      30
33           high          20    medium      44
34           high           8    medium      42
35           high          12       low      22
36           high          14      high      52
37           high          14    medium      42
38           high          17    medium      41
39           high           7    medium      50
40           high          17    medium      39
41           high          13      high      57
42           high          16       low      35
43           high          10      high      52
44           high          15    medium      44

In [9]:
moore_lm = ols('conformity ~ C(fcategory, Sum)*C(partner_status, Sum)', data=data).fit()

In [10]:
table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 ANOVA DataFrame

In [11]:
moore_lm

In [13]:
moore_lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             conformity   R-squared:                       0.324
Model:                            OLS   Adj. R-squared:                  0.237
Method:                 Least Squares   F-statistic:                     3.734
Date:                Mon, 16 Dec 2019   Prob (F-statistic):            0.00740
Time:                        16:24:34   Log-Likelihood:                -129.10
No. Observations:                  45   AIC:                             270.2
Df Residuals:                      39   BIC:                             281.0
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                   12.0508      0.728     16.564      0.000      10.579      13.522
C(fcategory, Sum)[S.high]                                    0.1903      0.999      0.191      0.850      -1.830       2.210
C(fcategory, Sum)[S.low]                                     1.0992      1.026      1.071      0.291      -0.977       3.175
C(partner_status, Sum)[S.high]                               2.4591      0.728      3.380      0.002       0.988       3.931
C(fcategory, Sum)[S.high]:C(partner_status, Sum)[S.high]    -2.8431      0.999     -2.847      0.007      -4.863      -0.823
C(fcategory, Sum)[S.low]:C(partner_status, Sum)[S.high]      1.7909      1.026      1.745      0.089      -0.285       3.867
==============================================================================
Omnibus:                        2.500   Durbin-Watson:                   2.626
Prob(Omnibus):                  0.287   Jarque-Bera (JB):                1.712
Skew:                           0.465   Prob(JB):                        0.425
Kurtosis:                       3.216   Cond. No.                         2.39
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
table

,sum_sq,df,F,PR(>F)
"C(fcategory, Sum)",11.614700,2.0,0.276958,0.759564
"C(partner_status, Sum)",212.213778,1.0,10.120692,0.002874
"C(fcategory, Sum):C(partner_status, Sum)",175.488928,2.0,4.184623,0.022572
Residual,817.763961,39.0,NaN,NaN

In [15]:
import pandas as pd

In [16]:
url = 'http://stats191.stanford.edu/data/kidney.table'
kidney_table = pd.read_csv(url, delim_whitespace=True)

In [36]:
kidney_table["Weight"] = kidney_table["Weight"].map(lambda x: "w" + str(x))

In [38]:
kidney_table["Duration"] = kidney_table["Duration"].map(lambda x: "d" + str(x))

In [39]:
kidney_table.head(10)

   Days Duration Weight  ID
0   0.0       d1     w1   1
1   2.0       d1     w1   2
2   1.0       d1     w1   3
3   3.0       d1     w1   4
4   0.0       d1     w1   5
5   2.0       d1     w1   6
6   0.0       d1     w1   7
7   5.0       d1     w1   8
8   6.0       d1     w1   9
9   8.0       d1     w1  10

In [40]:
import numpy as np

In [41]:
from statsmodels.formula.api import ols
from statsmodels.graphics.api import interaction_plot, abline_plot
from statsmodels.stats.anova import anova_lm

In [42]:
nosum_lm = ols('np.log(Days+1) ~ C(Duration, Treatment) * C(Weight, Treatment)',
            data=kt).fit()

In [43]:
nosum_lm

In [44]:
print(anova_lm(nosum_lm))

                                               df     sum_sq   mean_sq  \
C(Duration, Treatment)                        1.0   2.339693  2.339693
C(Weight, Treatment)                          2.0  16.971291  8.485645
C(Duration, Treatment):C(Weight, Treatment)   2.0   0.635658  0.317829
Residual                                     54.0  28.989198  0.536837

                                                     F    PR(>F)
C(Duration, Treatment)                        4.358293  0.041562
C(Weight, Treatment)                         15.806745  0.000004
C(Duration, Treatment):C(Weight, Treatment)   0.592040  0.556748
Residual                                           NaN       NaN